<style>
  #search-box{
    padding: 0.5rem 0.5rem 0.5rem 0.2rem;
    border-radius: 20px;
    text-align: center;
  }
  #search-box:hover{
    border: 1px solid red;
  }
  #search-btn{
    border-radius: 17px;
    color: white;
    background-color: red;
    font-weight: 600;
    font-family: sans-serif;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: 1px solid red;
    text-decoration: none;
    margin-right: 10rem;
  }
  #search-btn:hover{
    color: red;
    background-color: aliceblue;
    box-shadow: 0 -0.5rem 1rem rgba(97, 62, 62, 0.15) !important;
  }
</style> 
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fa-solid fa-house-heart"></i></span>
  </button>
  <a class="navbar-brand" href="#">CelestiaWander</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <div class="collapse navbar-collapse" id="navbarNav">
      <li class="nav-item">
        <a class="nav-link" href="/listing">All list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listing/new">Add list</a>
      </li>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-box">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
      </form>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mt-2 mt-sm-0">
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
      </div>
    </ul>
  </div>
</nav> 

    